@font-face {
    font-family: 'Redaction 35 Italic';
    font-weight: bold;
    src: url('assets/fonts/redaction/Redaction35-Italic.otf') format('truetype');
}


@font-face {
  font-family: 'Redaction 70 Italic';
  font-weight: bold;
  src: url('assets/fonts/redaction/Redaction70-Italic.otf') format('truetype');
}


@font-face {
    font-family: 'Neue Montreal';
    src: url('assets/fonts/neue montreal/NeueMontreal-Regular.otf') format('truetype');
}



html, body {
    height: 100vh;
    padding: 1rem;
    background-color:rgb(104, 88, 84);
  }



h1{
    font-family: 'Redaction 35 Italic';
    color: whitesmoke;
  
    font-size: 7rem;
    padding: 0%;
    margin: 0%;
    line-height: 6.5rem;
  }

  h2{
    font-family: 'Redaction 35 Italic';
    color: whitesmoke;
  
    font-size: 2.7rem;
    padding: 0%;
    margin: 0%;
    line-height: 2.5rem;
  }

  h2:hover{
    font-family: 'Redaction 70 Italic';
    
  
    font-size: 2.7rem;
    padding: 0%;
    margin: 0%;
    line-height: 2.5rem;
  }

 

  h4{
    font-family: 'Neue Montreal';
    color: whitesmoke;
    font-size: 1.1rem;
   
    text-decoration: none;
    padding: 0%;
    margin: 0%;
  
  }

  h4:hover{
    color:whitesmoke;
    font-family: 'Neue Montreal';

    text-decoration: underline whitesmoke;
    text-decoration-thickness: 1.5px;
    text-decoration-skip: none; 
  }


  a, a:hover{
    text-decoration: none;
  }


  
p{
    font-family: 'Neue Montreal';
    color: whitesmoke;
    font-size: 1.3rem;
    letter-spacing: 0.04rem;
    
}

  .grid-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 3rem;
    
  }

  .grid-element{
  }

  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }


  .default-hide{
    display:none;
  }
 
